.menus-block {
	> .row > div:last-child .menu-category {
		margin-bottom: 0;
	}
}

.menu-category {
	background-color: $white;
	border: 1px solid rgba(149,152,154,0.5);
	box-shadow: 0px 2px 5px rgba(0,0,0,0.32);
	padding: 50px;
	margin-bottom: 30px;
	text-align: center;

	img {
		margin-bottom: 40px;
	}

	h2 {
		text-transform: uppercase;
		font-weight: 600;
		font-size: 28px;
		margin: 0 0 45px 0;
		padding: 10px 0;
		border-top: 1px solid $medium-grey;
		border-bottom: 1px solid $medium-grey;
	}

	.menu-item {
		margin-bottom: 30px;

		.menu-item-name,
		.menu-item-price {
			font-size: 18px;
		}

		.menu-item-price {
			margin-bottom: 0;
		}

		small {
			margin: 0 2px 11px 2px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}