@font-face {
	font-family: 'Moon-Flower';
	src: url('../../fonts/Moon-Flower.woff') format('woff'),
	url('../../fonts/Moon-Flower.svg#Moon-Flower') format('svg'),
	url('../../fonts/Moon-Flower.eot'),
	url('../../fonts/Moon-Flower.eot?#iefix') format('embedded-opentype'); 
	font-weight: normal;
	font-style: normal;
}

body {
	background: url('../../images/texture-alt-bg.jpg');
	background-size: 100px 155px;
}

hr {
	border-color: #ccc;
	margin: 30px 0;
}

img {
	max-width: 100%;
	height: auto;
}

.content a {
	color: initial;
	border-bottom: 1px dotted $dark-grey;

	&:hover {
		color: initial;
		text-decoration: none;
		border-bottom: none;
	}
}

.btn {
	display: block !important;
	border: 2px solid $black !important;
	box-shadow: none;
	border-radius: 0;
	text-transform: uppercase;
	padding: 7px 20px;
	font-weight: bold;
	margin-bottom: 10px;
	transition: all 0.1s ease-out;

	&:last-child {
		margin-bottom: 0;
	}

	@media (min-width: $screen-md-min) {
		display: inline-block !important;
		margin-bottom: 0;
	}

	&.white {
		border-color: $white !important;
		color: $white !important;
	}

	&.full {
		background-color: $black;
		color: $white;
		border: none !important;
		padding: 9px 20px;

		&:hover {
			background-color: $dark-grey;
		}
	}

	&:hover {
		color: $white !important;
		background: $black;
	}
}

.page-image-header {
	height: 210px;
	overflow: hidden;
	position: relative;

	@media (min-width: $screen-sm-min) {
		height: 300px;
	}

	@media (min-width: $screen-md-min) {
		height: 400px;
	}

	.home & {
		height: 400px;
		margin-bottom: 50px;

		@media (min-width: $screen-sm-min) {
			height: 600px;
		}

		@media (min-width: $screen-md-min) {
			height: 750px;
		}
	}

	/* .page-image-img img {
		width: 100%;
		height: auto;
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		max-width: none;
	} */
}

.page-image-header .page-image-img {
    height: 100%;
	background-size: cover;
	background-position: top;
}

.page-title-header {
	background-color: $black;
	text-align: center;
	padding: 30px 0;
	margin-bottom: 50px;

	.page-title {
		font-family: 'Moon-Flower';
		font-size: 72px;
		color: $white;
		text-transform: uppercase;
		margin: 0;
	}

	.page-intro {
		font-size: 18px;
		color: $white;
		margin-bottom: 7px;
	}
}

.main-content {
	padding: 0 0 50px 0;

	@media (min-width: $screen-sm-min) {
		padding: 0 0 100px 0;
	}
}

.form-box {
	background-color: $white;
	border: 1px solid rgba(149,152,154,0.5);
	box-shadow: 0px 2px 5px rgba(0,0,0,0.32);
	padding: 45px 20px 50px;

	h2 {
		text-transform: uppercase;
		font-size: 28px;
		font-weight: bold;
		margin-top: 0;
		margin-bottom: 30px;
		padding-bottom: 10px;
		border-bottom: 1px solid $medium-grey;
	}

	.field.text {
		margin-bottom: 20px;
	}

	input[type='text'],
	input[type='email'],
	textarea {
		width: 100%;
		padding: 6px;
		border: 1px solid rgb(169,169,169);
	}

	textarea {
		margin-bottom: 0;
	}

	.requiredField label:after {
		content:" *";
		color: red;
	}

	input[type='submit'] {
		background-color: $black;
		color: $white;
		border: none;
		font-weight: bold;
		padding: 8px 25px;
		margin-top: 5px;
		text-transform: uppercase;
		transition: all 0.1s ease-out;

		&:hover {
			background-color: $dark-grey;
		}
	}

	.error {
		color: red;
		font-size: 14px;
	}
}

.message-complete {
	background-color: #dff0d8;
    color: #468847;
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border: 1px solid #d6e9c6;
    border-radius: 4px;

    p {
    	margin-bottom: 0;
    	font-weight: bold;
    }
}