.main-nav {
	background: $black;

	ul {
		margin: 0;
		padding: 0;
		text-align: right;
		display: none;

		@media (min-width: $screen-sm-min) {
			display: block;
		}

		li {
			display: inline-block;

			a {
				color: $white;
				display: block;
				padding: 19px 15px;
				text-transform: uppercase;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	.logo {

		a {
			color: $white;
			display: block;
			padding: 10px 0;
			text-transform: uppercase;
		}
	}

	.mobile-menu {
		text-align: right;

		@media (min-width: $screen-sm-min) {
			display: none;
		}
	}
}