.home-logo-container {
 	position: absolute;
 	top: 50%;
 	left: 50%;
 	z-index: 1;
 	transform: translate(-50%, -50%);
 	width: 100%;
 	max-width: 400px;
 	padding: 0 15px;

 	.home-logo {
 		background: rgba(0,0,0,0.9);
 		padding: 50px;
 		margin-bottom: 11px;
 	}

 	.home-buttons {
 		text-align: center;
 	}
}

.home-highlight {
	text-align: center;
	margin-bottom: 50px;

	@media (min-width: $screen-sm-min) {
		margin-bottom: 0;
	}

	&.last {
		margin-bottom: 0;
	}

	img {
		transform: translateZ(0);
		transition: opacity 0.1s ease-out;

		&:hover {
			opacity: 0.9;
		}
	}

	a {
		display: block;
		border-bottom: none;
	}

	h1 {
		font-family: 'Moon-Flower';
		font-size: 62px;
	}

	p {
		margin-bottom: 15px;
	}
}